name: Docker build check

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
    paths-ignore:
      - '.github/**' # Avoid issues with Dependabot
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'

jobs:
  build-container:
    name: Check whether Docker image builds properly
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Try building Docker image
        run: docker build -t saphnet-sftp-build-test .
